<html>
<head>
    <title>Neats</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body style = "background-color: #c7d6ed;">
    <a href="/flappy-bird">
        <image src = "/static/flappy-banner.png" style="border-radius:10px; display: block;
        margin: 0 auto; margin-top: 3%;" width = "550px" id="fpimg"></image>
    </a>
    <image src = "/static/dino-banner.png" style="border-radius:10px; display: block;
    margin: 0 auto; margin-top: 1%;"  width = "550px"></image>
    <image src = "/static/snake-banner.jpg" style="border-radius:10px; display: block;
    margin: 0 auto; margin-top: 1%;"  width = "550px" height="200px"></image>
    
</body>
</html>