<html>
<head>
    <title>Neats</title>
    <link rel="icon" href="/static/icon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.8.0/lib/addons/p5.dom.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.8.0/lib/addons/p5.sound.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href='/static/styles/fb_style.css' rel='stylesheet' type='text/css'>
</head>

<body style="background-color: #293241;">
    <nav class="navbar navbar-default" role="navigation" style=" 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" unselectable="on">Neats</a>
            </div>
        </div>
    </nav>

    <table style="margin: 2%; border-collapse: collapse;">
        <tr>
            <td style="vertical-align:top"><div id = "ai" width=600 height=300 ></div></td>
            <td rowspan="2" style="vertical-align:top"><div id = "network" width=150 height=710></div></td>
        </tr>
        <tr>
            <td style="vertical-align:top"><div id = "player" width=600 height=300 ></div></td>
        </tr>
    </table>


    <script src="/code.jquery.com/jquery.js"></script>
  		<!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
        window.addEventListener('keydown', function(e) {
            if(e.keyCode == 32 && e.target == document.body) {
                e.preventDefault();
            }
        });
    </script>
    <script src = "static/running-dino/lib/dino-unit.js"></script>
    <script src = "static/running-dino/lib/player-game.js"></script>
    <script src = "static/running-dino/lib/ai-game.js"></script>
    <script src = "static/running-dino/lib/running-dino.js"></script>
    <script src="static/running-dino/lib/utils.js"></script>
    <script src="static/running-dino/lib/config.js"></script>
    <script src="static/running-dino/lib/actors/Actor.js"></script>
    <script src="static/running-dino/lib/actors/Bird.js"></script>
    <script src="static/running-dino/lib/actors/Cactus.js"></script>
    <script src="static/running-dino/lib/actors/Cloud.js"></script>
    <script src="static/running-dino/lib/actors/Dino.js"></script>
</body>
</html>
